@import url('./common/initializer.css');

// 사용자 정의 선택자
@custom-selector :--section-headings section h1, section h2, section h3;

// 사용자 정의 속성(변수)
:root {
  --color-primary: rgb(97 53 216);
  --color-secondary: #74c758;
  --size-base-rem: $space;
}

:--section-headings {
  font-size: calc(var(--size-base-rem) * 1.6);
  color: var(--color-secondary);
}

html {
  margin: $space;
  font-size: var(--size-base-rem);
}

body {
  color: var(--color-primary);
}

// 중첩 규칙
a {
  & img {
    vertical-align: middle;
  }

  &:hover {
    outline: none;
  }
}
